<div class="d-flex flex-column" *ngIf="user">
  <div class="d-flex flex-column pb-1 border-bottom pr-3 pl-3">
    <p class="h2">{{ username }}</p>
    <p class="text-muted">Member since {{ user.created | date }}</p>
    <p class="mt-3 h5">Email</p>
    <p>{{ user.email }}</p>
  </div>
  <div class="border-bottom pr-3 pl-3">
    <label class="h2 mt-3 mb-3">Favorites</label>
    <div class="d-flex overflow-auto">
      <div
        class="col-2"
        *ngFor="let fav of favorites; index as favIdx; first as isFirst"
      >
        <div class="card mb-4 ml-2 mr-2 shadow-sm">
          <img
            src="{{ fav.poster_path }}"
            class="img-fluid"
            alt="{{ fav.title }}"
          />
          <div class="card-body p-3">
            <p class="card-title h5">
              {{ fav.title }}
            </p>
            <p class="card-text lead">
              {{ fav.release_date | date }}
            </p>
          </div>
          <a routerLink="/find/{{ fav.id }}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom pr-3 pl-3">
    <label class="h2 mt-3 mb-3">Rated</label>
    <div class="d-flex overflow-auto">
      <div
        class="col-2"
        *ngFor="let fav of rated; index as favIdx; first as isFirst"
      >
        <div class="card mb-4 ml-2 mr-2 shadow-sm">
          <img
            src="{{ fav.poster_path }}"
            class="img-fluid"
            alt="{{ fav.title }}"
          />
          <div class="card-body p-3">
            <p class="card-title h5">
              {{ fav.title }}
            </p>
            <p class="card-text lead">
              {{ fav.release_date | date }}
            </p>
          </div>
          <a routerLink="/find/{{ fav.id }}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom pr-3 pl-3">
    <label class="h2 mt-3 mb-3">Reviewed</label>
    <div class="d-flex overflow-auto">
      <div
        class="col-2"
        *ngFor="let fav of reviewed; index as favIdx; first as isFirst"
      >
        <div class="card mb-4 ml-2 mr-2 shadow-sm">
          <img
            src="{{ fav.poster_path }}"
            class="img-fluid"
            alt="{{ fav.title }}"
          />
          <div class="card-body p-3">
            <p class="card-title h5">
              {{ fav.title }}
            </p>
            <p class="card-text lead">
              {{ fav.release_date | date }}
            </p>
          </div>
          <a routerLink="/find/{{ fav.id }}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 pr-3 pl-3 border-bottom">
  <label class="h2 mb-3">Last visited</label>
  <app-visited-list></app-visited-list>
</div>
<div class="mt-3 pr-3 pl-3 border-bottom" *ngIf="user && user.role === 'admin' && loggedIn()">
    <app-admin-panel></app-admin-panel>
</div>
