<div class="pl-3 pr-3">
  <div class="mb-3">
    <ng-template #review_form let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Write your review</h4>
      </div>
      <div class="modal-body">
        <form ngForm>
          <div class="form-group mb-3">
            <label>Your rate</label>
            <div class="border rounded p-1 w-min-content">
              <ngb-rating
                class="text-primary h3 mb-0"
                [max]="5"
                [(rate)]="review.rate"
                [readonly]="false"
              ></ngb-rating>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="title_input">Title</label>
            <input
              [(ngModel)]="review.title"
              id="title_input"
              name="title_input"
              type="text"
              class="form-control"
              maxlength="50"
              required
              #title_input="ngModel"
            />
            <div
              class="alert alert-danger mt-1"
              *ngIf="!title_input.valid && title_input.touched"
            >
              This field is required!
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="descr_input">Description</label>
            <textarea
              [(ngModel)]="review.description"
              name="descr_input"
              id="descr_input"
              cols="50"
              rows="10"
              minlength="50"
              class="form-control"
              required
              #descr_input="ngModel"
            ></textarea>
            <div
              class="alert alert-danger mt-1"
              *ngIf="
                !descr_input.valid &&
                descr_input.touched &&
                descr_input.pristine
              "
            >
              This field is required!
            </div>
            <div
              class="alert alert-danger mt-1"
              *ngIf="!descr_input.valid && descr_input.control.dirty"
            >
              Your review is too short!
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              !title_input.valid ||
              !title_input.touched ||
              !descr_input.valid ||
              !descr_input.touched
            "
            (click)="formSubmit(); modal.close('Close click')"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>
    <button
      *ngIf="isLoggedIn"
      class="btn btn-outline-primary"
      (click)="openReviewModal(review_form)"
    >
      Review this title...
    </button>
    <button
      *ngIf="!isLoggedIn"
      class="btn btn-outline-primary"
      routerLink="/login"
    >
      Review this title...
    </button>
  </div>
  <div *ngIf="reviews">
    <div
      class="border rounded mb-3"
      *ngFor="let review of reviews; index as idx"
    >
      <div class="d-flex flex-row justify-content-between">
        <div>
          <ngb-rating
            class="text-primary mb-4 pl-3 pt-3"
            [max]="5"
            [rate]="review.rate"
            [readonly]="true"
          ></ngb-rating>
          <p class="ml-2 text-primary pt-3">{{ review.rate }}</p>
        </div>
        <div>
          <button
            class="btn btn-outline-danger"
            *ngIf="isLoggedIn && isAdmin"
            (click)="deleteReview(review)"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="mb-3 pl-3">
        <p class="h3">{{ review.title }}</p>
        <span class="d-flex flex-row pl-1">
          <a class="" routerLink="{{ '/user/' + review.username }}">{{
            review.username
          }}</a>
          <p class="ml-3">{{ review.date | date }}</p>
        </span>
      </div>
      <div class="pl-3 pr-3">
        <p class="text-wrap text-truncate">
          {{ review.description }}
        </p>
      </div>
    </div>
  </div>
</div>
