<div class="d-flex border-bottom pb-2" *ngIf="person">
  <div class="col-4 ml-3">
    <img
      src="{{ person.profile_path }}"
      class="img-fluid mb-3 mt-3"
      alt="Banner"
    />
  </div>
  <div class="col-7 flex-fill d-flex flex-column">
    <div>
      <p class="h2 mt-2">
        {{ person.name }}
      </p>
    </div>
    <div>
      <p class="mt-2 h3">Biography</p>
      <p class="text-wrap mt-2 pt-0 pr-5 pb-3">
        {{ person.biography }}
      </p>
    </div>
    <div class="d-flex flex-column justify-content-end h-100 pb-1">
      <p class="h5 mt-xl-5">
        Gender: {{ person.gender === 1 ? "Female" : "Male" }}
      </p>
      <p class="h5 mt-3">Birthday: {{ person.birthday | date }}</p>
      <p class="h5 mt-3">Place of birth: {{ person.place_of_birth }}</p>
      <p class="h5 mt-3" *ngIf="person.deathday">Died: {{ person.deathday }}</p>
      <p class="h5 mt-3">Known for: {{ person.known_for_department }}</p>
    </div>
  </div>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Acting</label>
  <app-content-slider
    [id]="id"
    [data-type]="person"
    [credit-type]="person.known_for_department != 'Acting' ? 'crew' : 'cast'"
  ></app-content-slider>
</div>
