<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <nav class="d-flex justify-content-left">
      <a class="navbar-brand mr-3" routerLink="/">Home</a>
      <a class="navbar-brand" routerLink="/movies">Movies</a>
      <a class="navbar-brand" routerLink="/shows">Shows</a>
      <a class="navbar-brand" routerLink="/celebs">Celebrities</a>
    </nav>
    <nav class="d-flex justify-content-right" *ngIf="!loggedIn()">
      <a class="navbar-brand mr-3 btn btn-primary" routerLink="/signup"
        >Signup</a
      >
      <a class="navbar-brand mr-0 btn btn-outline-primary" routerLink="/login"
        >Login</a
      >
    </nav>
    <nav class="d-flex justify-content-right" *ngIf="loggedIn()">
      <div
        ngbDropdown
        class="d-inline-block ml-auto mr-4"
        placement="bottom"
        autoClose="true"
      >
        <div ngbDropdownMenu class="mr-3 p-0" aria-labelledby="toggle">
          <div ngbDropdownItem>
            <a class="nav-link rounded" routerLink="/user/{{ username() }}">Profile</a>
          </div>
          <div ngbDropdownItem>
            <a class="nav-link rounded" (click)="logout()">Logout</a>
          </div>
        </div>
        <button
          id="toggle"
          type="button"
          class="btn btn-outline-primary mt-1"
          ngbDropdownToggle
        >
          {{ username() }}
        </button>
      </div>
    </nav>
  </div>
</div>
