<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <nav class="d-flex justify-content-left">
      <a class="navbar-brand mr-3" routerLink="/">Home</a>
      <a class="navbar-brand" routerLink="/movies">Movies</a>
      <a class="navbar-brand" routerLink="/shows">Shows</a>
      <a class="navbar-brand" routerLink="/celebs">Celebrities</a>
    </nav>
    <nav class="d-flex justify-content-right">
      <a class="navbar-brand mr-3 btn btn-primary" routerLink="/signup"
        >Signup</a
      >
      <a class="navbar-brand mr-0 btn btn-outline-primary" routerLink="/login"
        >Login</a
      >
    </nav>
  </div>
</div>
