<div class="d-flex border-bottom">
  <div class="col-4 ml-3">
    <img
      src="{{ content.bannerSrc }}"
      class="img-fluid mb-3 mt-3"
      alt="Banner"
    />
    <div class="">
      <p class="h5">
        {{ content.title }}
      </p>
      <p class="lead">
        {{ content.description }}
      </p>
    </div>
  </div>
  <div class="col-7 flex-fill">
    <label class="mt-2 h2">Storyline</label>
    <p class="text-wrap mt-2 pt-0 pr-5 pb-3">
      Pianoforte solicitude so decisively unpleasing conviction is partiality
      he. Or particular so diminution entreaties oh do. Real he me fond show
      gave shot plan. Mirth blush linen small hoped way its along. Resolution
      frequently apartments off all discretion devonshire. Saw sir fat spirit
      seeing valley. He looked or valley lively. If learn woody spoil of taken
      he cause. Him rendered may attended concerns jennings reserved now.
      Sympathize did now preference unpleasing mrs few. Mrs for hour game room
      want are fond dare. For detract charmed add talking age. Shy resolution
      instrument unreserved man few. She did open find pain some out. If we
      landlord stanhill mr whatever pleasure supplied concerns so. Exquisite by
      it admitting cordially september newspaper an. Acceptance middletons am it
      favourable. It it oh happen lovers afraid. Bed sincerity yet therefore
      forfeited his certainty neglected questions. Pursuit chamber as elderly
      amongst on. Distant however warrant farther to of. My justice wishing
      prudent waiting in be. Comparison age not pianoforte increasing delightful
      now. Insipidity sufficient dispatched any reasonably led ask. Announcing
      if attachment resolution sentiments admiration me on diminution.
    </p>
  </div>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Cast</label>
  <app-content-slider
    data-type="cast"
    name="cast-slider"
    page-size="6"
  ></app-content-slider>
</div>
