<div class="d-flex border-bottom pb-2" *ngIf="content">
  <div class="col-4 ml-3">
    <img
      src="{{ content.poster_path }}"
      class="img-fluid mb-3 mt-3"
      alt="Banner"
    />
    <div class="d-flex flex-column pb-1">
      <p class="h5 mt-1">Release date</p>
      <p *ngIf="content.release_date">{{ content.release_date | date }}</p>
      <p *ngIf="content.first_air_date">{{ content.first_air_date | date }}</p>
      <div *ngIf="content.runtime">
        <p class="h5 mt-1">Run time</p>
        <p>{{ floor(content.runtime / 60) }}h {{ content.runtime % 60 }}m</p>
      </div>
      <div *ngIf="content.number_of_seasons">
        <p class="h5 mt-1">Number of seasons</p>
        <p>{{ content.number_of_seasons }}</p>
        <p class="h5 mt-1">Number of episodes</p>
        <p>{{ content.number_of_episodes }}</p>
      </div>
      <div *ngIf="content.budget">
        <p class="h5 mt-1">Budget</p>
        <p *ngIf="content.budget !== '0'; else not_specified">
          {{ content.budget | currency }}
        </p>
        <p class="h5 mt-1">Revenue</p>
        <p *ngIf="content.revenue !== '0'; else not_specified">
          {{ content.revenue | currency }}
        </p>
      </div>
      <p class="h5 mt-1" *ngIf="content.homepage !== ''">Homepage</p>
      <a *ngIf="content.homepage !== ''" href="{{ content.homepage }}">{{
        content.homepage
      }}</a>
      <ng-template #not_specified><p>Not specified</p></ng-template>
    </div>
  </div>
  <div class="col-7 flex-fill d-flex flex-column">
    <div>
      <p class="h2 mt-2">
        {{ content.title }}
      </p>
      <p class="lead">
        {{ content.tagline }}
      </p>
    </div>
    <div>
      <p class="mt-2 h3">Overview</p>
      <p class="text-wrap mt-2 pt-0 pr-5 pb-3">
        {{ content.overview }}
      </p>
    </div>
    <div class="mt-3">
      <button
        class="btn btn-outline-success"
        *ngIf="isLoggedIn()"
        (click)="favorite()"
      >
        Add to favorites...
      </button>
      <button
        class="btn btn-outline-success"
        *ngIf="!isLoggedIn()"
        routerLink="/login"
      >
        Add to favorites...
      </button>
    </div>
  </div>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Rating</label>
  <app-rating [id]="id"></app-rating>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Cast</label>
  <app-content-slider
    [id]="id"
    [data-type]="type"
    credit-type="cast"
    name="cast-slider"
    [page-size]="6"
  ></app-content-slider>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Crew</label>
  <app-content-slider
    [id]="id"
    [data-type]="type"
    credit-type="crew"
    name="cast-slider"
    [page-size]="6"
  ></app-content-slider>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Reviews</label>
  <app-reviews-list [id]="id"></app-reviews-list>
</div>
