<div class="d-flex border-bottom">
  <div class="col-4 ml-3">
    <img
      src="{{ content.bannerSrc }}"
      class="img-fluid mb-3 mt-3"
      alt="Banner"
    />
    <div class="">
      <p class="h5">
        {{ content.title }}
      </p>
      <p class="lead">
        {{ content.description }}
      </p>
    </div>
  </div>
  <div class="col-7 flex-fill">
    <label class="mt-2 h2">Storyline</label>
    <p class="text-wrap mt-2 pt-0 pr-5 pb-3">
      {{ content.full_description }}
    </p>
  </div>
</div>
<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-3 mt-3 mb-3">Cast</label>
  <app-content-slider
    data-type="cast"
    name="cast-slider"
    page-size="6"
  ></app-content-slider>
</div>
