/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

ngb-carousel {
  a {
    max-width: 5% !important;
    span {
      background-color: black !important;
      border: 1px solid white !important;
      border-radius: 0.3rem !important;
      background-size: auto !important;
    }
  }
}
