<div class="border-bottom pr-3 pl-3">
  <label class="h2 ml-2 mb-3">Movies</label>
  <app-content-slider
    data-type="movie"
    name="upcoming-slider"
  ></app-content-slider>
</div>
<div class="mt-3 border-bottom pr-3 pl-3">
  <label class="h2 ml-2 mb-3">Shows</label>
  <app-content-slider
    data-type="show"
    name="top-slider"
  ></app-content-slider>
</div>
<!-- <div class="mt-3 pr-3 pl-3">
  <label class="h2 ml-2 mb-3">Recent</label>
  <app-content-slider
    data-type="recent"
    name="recent-slider"
  ></app-content-slider>
</div> -->
