<div class="d-flex justify-content-center">
  <div class="border rounded col-5 position-fixed">
    <form class="pt-3 pb-3" (ngSubmit)="signup()">
      <div class="form-group mb-3">
        <label for="username_input">Username</label>
        <input
          [(ngModel)]="payload.username"
          id="username_input"
          name="username_input"
          type="text"
          class="form-control"
          maxlength="50"
          required
          #username_input="ngModel"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="!username_input.valid && username_input.touched"
        >
          This field is required!
        </div>
        <label class="mt-1" for="password_input">Password</label>
        <input
          [(ngModel)]="payload.password"
          id="password_input"
          name="password_input"
          type="password"
          class="form-control"
          maxlength="50"
          required
          #password_input="ngModel"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="!password_input.valid && password_input.touched"
        >
          This field is required!
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="email_input">Email</label>
        <input
          [(ngModel)]="payload.email"
          name="email_input"
          id="email_input"
          maxlength="30"
          minlength="9"
          class="form-control"
          required
          #email_input="ngModel"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            !email_input.valid && email_input.touched && email_input.pristine
          "
        >
          This field is required!
        </div>
        <div
          class="alert alert-danger mt-1"
          *ngIf="!email_input.valid && email_input.control.dirty"
        >
          Email is too short!
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
        <a class="navbar-brand mr-0" routerLink="/login"
          >Already have an account? Log in</a
        >
      </div>
    </form>
  </div>
</div>
