<div class="dropleft ml-auto mr-4">
  <div class="dropdown-menu mr-3 p-0">
    <div class="d-flex flex-row pl-3 pr-75">
      <ngb-rating
        class="text-primary h1"
        [max]="5"
        [(rate)]="current_rate"
        [readonly]="false"
        (rateChange)="rate($event)"
      ></ngb-rating>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-primary mt-1 dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Rate this
  </button>
</div>