<ngb-carousel #carousel *ngIf="data">
  <ng-template
    ngbSlide
    *ngFor="let page of [].constructor(pages); index as pageIdx;"
  >
    <div class="d-flex flex-row pt-2">
      <div
        class="col-md-4 flex-fill"
        *ngFor="let object of data; index as objIdx;"
        [hidden]="
          objIdx >= pageIdx * objectsPerPage &&
          objIdx < (pageIdx + 1) * objectsPerPage &&
          object
        "
      >
        <div class="card mb-4 ml-2 mr-2 shadow-sm">
          <img
            src="{{ object.bannerSrc }}"
            class="img-fluid"
            alt="Banner"
            *ngIf="object.bannerSrc"
          />
          <img
            src="{{ object.photoSrc }}"
            class="img-fluid"
            alt="Banner"
            *ngIf="object.photoSrc"
          />
          <div class="card-body p-3" *ngIf="object.title">
            <p class="card-title h5">
              {{ object.title }}
            </p>
            <p class="card-text lead">
              {{ object.description }}
            </p>
          </div>
          <div class="card-body p-3" *ngIf="object.name">
            <p class="card-title h5">
              {{ object.name }}
            </p>
            <p class="card-text text-muted">
              {{ object.role }}
            </p>
          </div>
          <a
            routerLink="/{{ dataType }}/{{ object.id }}"
            class="stretched-link"
          ></a>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
